<ion-view view-title="Add Todo">
  <ion-content>
    <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Title</span>
          <input ng-model="todo.title" type="text" placeholder="Title">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Content</span>
          <input ng-model="todo.content" type="text" placeholder="Content">
        </label>
        <div class="save-button-container">
          <button class="button button-full button-positive" ng-click="sendToServer()">
            Save todo
          </button>
        </div>
    </div>
  </ion-content>
</ion-view>
