<ion-view view-title="Todos">
  <ion-content class="padding">
  <canvas id="foo">guage</canvas>
  <div id="preview-textfield" style="width: 100px; font-size: 40px;z-index: 999999999999999999;position: absolute;top: 110px;left: 100px; text-align: center;">1,725</div>
  <div style="position: absolute; top: -10px; left: -95px;">
    <img src="img/geiger.png">
  </div>
    <!-- <button class="event received button button-full button-positive" onclick="window.testLocalNoti()">Push a noti</button>
    <div class="list card" ng-repeat="(key, value) in todos">
      <div class="item item-divider">{{value.title}} | {{value.date | date:'medium'}}
        <i class="icon ion-trash-a delete-todo" ng-click="deleteTodo(value.todos_id)"></i>
      </div>
      <div class="item item-body">
        <div>
          {{value.content}}
        <div class="address-footer">{{value.address}}</div>
        </div>
      </div>
    </div> -->
  </ion-content>
</ion-view>
