/* Empty. Add your own CSS if you like */

.save-button-container {
	margin: 15px; 
}

.delete-todo {
	float: right;
}

.address-footer {
	margin-top: 15px;
	font-size: 8pt;
	float: right;
}

.google-maps {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 600px;
}